*{
    margin: 0px;
    padding: 0px;
}

:root{
    --primary:#41945e;
    --secondary: #f2fff6;

    /* --primary:#183a23;
    --secondary: #dad4c2; */
/* 
    --primary:#1b2d2e;
    --secondary: #a1b4a4; */

    --btn: rgb(73, 78, 223);

}


.custom-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
  }

  .custom-btn {
    background-color: var(--btn);
    color: #ffffff;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: var(--btn);
  }
  

  /* table design */
  .header-table tr th{
    background: var(--secondary) !important;

      }