<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../bootstrap-5.3.2-dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/components/login/login.css" />
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.css" />
    <title>Login</title>
  </head>
  <body>
    <section class="">
      <div class="container login-container d-flex justify-content-center align-items-end">
        <div class="login-div">
          <div class="login-name"><h4>Farm Management</h4></div>
          <form action="" method="post" id="loginForm">
            <div class="username">
              <label for="uname"><b>Username</b></label><br />
              <input
                type="text"
                placeholder="Enter Username"
                name="userCode"
                required
                id="loginUser"
              />
            </div>
    
            <div class="password">
              <label for="psw"><b>Password</b></label><br />
              <input
                type="password"
                placeholder="Enter Password"
                name="password"
                required
                id="loginPassword"
              />
            </div>
    
            <div class="comapny">
              <label for="comapnyDropdown" class="fw-bold">Company</label><br />
              <select name="CompanyId" id="comapnyDropdown" class="w-100 p-1"></select>
            </div>
    
            <div class="login-button-div">
              <button class="login-button" id="loginClick" type="submit">
                Login
              </button>
            </div>
          </form>
    
          <!-- Error message div -->
          <div id="loginError" class="alert alert-danger mt-3" style="display: none;">
            Login failed. Invalid credentials.
            
          </div>
        </div>
      </div>
    </section>
    

    <script src="/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script src="/components/login/login.js"></script>
  </body>
</html>
