body {
    /* background-color: rgb(205 216 228) !important; */
    /* background-color: #009ca7 !important; */
    /* background-color: var(--secondary) !important; */
    
    /* we will use  background image */
    font-family: 'poppins-medium-regular', sans-serif;
    min-height: 100vh;
    /* background: linear-gradient(to right, #e3b8ff, #e1f7f8); */
    background-image: url('./Images/Untitled-3.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
    align-items: center;
    margin-right: 4rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  /* .login-container {
    height: 600px;
  } */
  
  .login-div {
    width: 350px;
    height: 500px;
    background-color: rgba(1, 189, 117, 0.13);
    border-radius: 8px;
    padding: 50px 35px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  input {
    width: 100%;
    border-bottom: 1px solid rgb(151, 149, 149);
  }
  button {
    width: 70%;
  }
  
  .login-name {
    display: flex;
    justify-content: center;
  }
  .login-subname {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .username {
    margin: 20px 0;
  }

  #loginUser{
    border: none;
    padding: .4rem;
  }

  #loginPassword{
    border: none;
    padding: .4rem;
  }

  .password {
    margin: 20px 0;
  }
  .login-div a {
    text-decoration: none;
  }
  .login-button-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .login-button {
    background: rgb(1, 211, 165, 243, 223);
    padding: 6px;
    text-align: center;
    background-color:rgb(69, 136, 116);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

  


.login-button:hover {
    background-color:rgb(0, 82, 34);
    cursor: pointer;
}