<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/components/home/home.css" />
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.css" />
  </head>
  <body>
    <!-- SideBar -->
    <div class="sidebar m-0 p-0">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="/utility/image/logo.png"
          class="mt-1 w-50"
          alt="Logo"
          
        />
      </div>

      <h4 class="text-white text-center">Farm Management</h4>
      <hr class="text-light border border-1" />
      <ul>
        <li class="sidebar-item active">Dashboard</li>
        <li class="sidebar-item " onclick="getUOM()">UOM</li>
        <li class="sidebar-item " onclick="getCategory()">
          Category
      </li>
        <li class="sidebar-item " onclick="getSuppliers()">
          Suppliers
      </li class="sidebar-item ">
        <li class="sidebar-item " onclick="getCustomer()">Customers</li>
        <li class="sidebar-item " onclick="shedType()">Shed Type</li>
        <li class="sidebar-item dropdown">
          Help
          <ul class="dropdown-menu">
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact Us</a></li>
            
           
            <!-- Add more dropdown items here if needed -->
          </ul>
        </li>
        
      </ul>

      <!-- <hr class="text-light border border-1" /> -->
    </div>

    <!-- Topbar -->
    <div class="topbar">
      <button id="sidebarToggle" class="custom-btn rounded-end-circle"> <span class="side-angle"> > </span></button>
      <div class="breadcrumbs fs-5 fw-bold" id="headerContent">Dashboard</div>
      <div class="user-info">
        <span class="me-3">Ahamed</span>
        
        <!-- Group image and dropdown trigger together -->
        <div class="dropdown left-margin">
          <!-- Image as part of the trigger -->
          <img
            src="/utility/image/profile.jpg"
            alt="User Avatar"
            width="40"
            height="40"
            class="dropdown-toggle"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            role="button"
          />
      
          <!-- Dropdown Menu -->
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" id="logoutBtn" href="#">Logout</a></li>
          </ul>
        </div>
      </div>
      
    </div>

    <!-- Main content -->
    <div class="content" id="mainContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quasi!</div>

    <script src="/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script src="/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    
    <script src="/components/home/home.js"></script>
    <script src="/components/UOM/uom.js"></script>
    <script src="/components/category/category.js"></script>
    <script src="/components/customers/customers.js"></script>
    <script src="/components/suppliers/suppliers.js"></script>
    <!-- <script src="/components/outsiders/outsiders.js"></script> -->
    <script src="/components/shedType/shedType.js"></script>

  </body>
</html>
