<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />

    <link rel="stylesheet" href="/components/sale/sale.css" />

    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.css" />

    <style>
      /* Add custom CSS styles if needed */
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <div
        class="header-section  bg-success-subtle  rounded-1 text-black-50 d-flex align-items-center justify-content-center"
      >
        <h2>Sale Details</h2>
      </div>

      <!-- Add Row Button -->
      <div class="form-container">
      <!-- Purchase Entry Form -->
      <form id="purchaseEntryForm">
        <div class="row g-2 mt-3">
          <!-- Form content -->

          <div class="col-12 col-md-6 col-lg-4">
            <label for="saleDate">Sale Date</label>
            <input
              type="date"
              class="form-control"
              id="saleDate"
              value=""
              disabled
            />
          </div>

          <!-- Employee Selection -->
          <div class="col-12 col-md-6 col-lg-4">
            <label for="employeeDropdown">Employee</label>
            <input class="form-control" id="employeeDropdown" disabled>
           
            </input>
          </div>

          <!-- Supplier Selection -->
          <div class="col-12 col-md-6 col-lg-4">
            <label for="customerDropdown">Customers</label>
            <input class="form-control" id="customerDropdown" disabled>
             
          </div>

          <!-- Form content -->
          <div class="col-12 col-md-6 col-lg-4">
            <label for="deliveryCharge">Delevery Charge</label>
            <input
              type="text"
              class="form-control"
              id="deliveryCharge"
              value=""
              disabled
            />
          </div>
          <!-- Form content -->
          <div class="col-12 col-md-6 col-lg-4">
            <label for="extraCost">Utility / Extra Cost</label>
            <input
              type="text"
              class="form-control"
              id="extraCost"
              value=""
              disabled
            />
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <label for="totalSale">Total Sale</label>
            <input
              type="text"
              class="form-control"
              id="totalSale"
              value=""
              disabled
            />
        </div>
        

          <div class="col-12 col-md-6 col-lg-4">
            <label for="saleDes">Description</label>
            <textarea
              type="text"
              class="form-control"
              id="saleDes"
              value=""
              disabled
            ></textarea>
          </div>
        </div>

        <!-- <div class="d-flex justify-content-end align-items-center">
          <button type="button" class="btn btn-info mt-2" id="addRowBtn">
            Add
          </button>
        </div> -->

        <!-- Product Entry Table -->
        <div class="table-container scrollable-table">
          <table class="table" id="saleEntryTable">
            <thead class="">
              <tr>
               
                <th>Category</th>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Qty.</th>
                <th>Unit</th>
                <th>Gross Total</th>
                <th>Discount Amount</th>
                <th>Discount PCT(%)</th>
                <th>VAT Amount</th>
                <th>VAT PCT(%)</th>
                <th>Net Total</th>
               
              </tr>
            </thead>
            <tbody class="">
              <!-- Table rows will be added here dynamically -->
            </tbody>
          </table>
        </div>

        <!-- Form Buttons -->
        <div class="d-flex justify-content-end">
        
            <button type="button" onclick="sale()" class="btn btn-secondary m-1">Back</button>
        
        <button type="submit" class="btn btn-primary m-1">Save</button>
        </div>
        
      </form>
      </div>
    </div>

    <!-- Include jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
     
      
    
    </script>

    <script src="/common.js"></script>
    <!-- <script src="/components/purchase/purchaseCreate.js"></script> -->
    <script src="/components/sale/saleDetail.js"></script>
    <script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
