.scrollable-table {
    max-height: 300px;
    overflow-y: auto;
}
.form-container {
    border: 1px solid #dee2e6; /* Bootstrap default border color */
    border-radius: 0.25rem; /* Bootstrap default border radius */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Bootstrap default shadow */
    padding: 1rem;
    background-color: white; /* Optional: for better contrast */
}
.table-container {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    /* padding: 1rem; */
    margin-top: 1rem;
    background-color: white; /* Optional: for better contrast */
}


.table thead th {
position: sticky;
top: 0;
background-color: white; 
z-index: 10; 
}